<div class="row">
  <div class="col-lg-3 col-sm-12">
    <div class="card" id="stokcesitleri">
      <div class="card-header">
        Stok Çeşitleri
      </div>
      <div class="card-body">
        <div
          class="table-responsive-lg table-responsive-md table-responsive-sm pre-scrollable table-info table-striped table-bordered table-hover ">
          <table>
            <thead>
            <tr>
              <th>Firma Adı</th>
              <th>İşyeri Ünvanı</th>
              <th>Vergi No</th>
              <th>Telefon</th>
              <th>Fax</th>
              <th>E-mail</th>
              <th>Yetkili</th>


            </tr>
            </thead>
            <tbody>
            <tr>
              <td align='center'>
                <form><input type=submit value="seç" style="width:100%"></form>
              </td>
              <td>45345</td>
              <td>Oğuzhan</td>
              <td>Öztürk</td>
              <td>Zabıta Memuru</td>
              <td>.</td>
              <td>.</td>
            </tr>
            <tr>
              <td align='center'>
                <form><input type=submit value="seç" style="width:100%"></form>
              </td>
            </tr>
            <tr>
              <td align='center'>
                <form><input type=submit value="seç" style="width:100%"></form>
              </td>
            </tr>
            <tr>
              <td align='center'>
                <form><input type=submit value="seç" style="width:100%"></form>
              </td>
            </tr>
            <tr>
              <td align='center'>
                <form><input type=submit value="seç" style="width:100%"></form>
              </td>
            </tr>
            <tr>
              <td align='center'>
                <form><input type=submit value="seç" style="width:100%"></form>
              </td>
            </tr>
            <tr>

            </tr>

            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Bozulabilir Ürün
          </label>
        </div>
        <div class="input-group">

          <div class="input-group-prepend">
            <span class="input-group-text pb-0 pt-0"
                  id="">Stok Adı </span>
          </div>
          <input type="text" class="form-control">
          <hr>
          <div class="btn btn-success">Ekle</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-sm-12">
    <div class="card" id="seciliurun">
      <div class="card-header">
        Seçili Stoktaki Ürünler
      </div>
      <div class="card-body">
        <div
          class="table-responsive-lg table-responsive-md table-responsive-sm pre-scrollable table-info table-striped table-bordered table-hover ">
          <table>
            <thead>
            <tr>
              <th>Firma Adı</th>
              <th>İşyeri Ünvanı</th>
              <th>Vergi No</th>
              <th>Telefon</th>
              <th>Fax</th>
              <th>E-mail</th>
              <th>Yetkili</th>


            </tr>
            </thead>
            <tbody>
            <tr>
              <td>45345</td>
              <td>Oğuzhan</td>
              <td>Öztürk</td>
              <td>Zabıta Memuru</td>
              <td>.</td>
              <td>.</td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="input-group">
              <div class="input-group-prepend">
            <span class="input-group-text pb-0 pt-0"
                  id=""> Ürün Adı </span>
              </div>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <select class="form-control" id="exampleFormControl">
              <option>Alındığı Bölge</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-lg-3 col-sm-6">
            <mat-form-field>
              <mat-label>Depo Giriş Tarihi</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="btn btn-success"> Karekod Oluştur</div>
          </div>


          </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Karekod</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="card">
      <div class="card-header">
        Okutulan Karekoddaki Ürünler
      </div>
      <div class="card-body">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn btn-success">
          Karekod okut
        </div>
      </div>
    </div>
  </div>
</div>
